{% extends "base.html" %} {% block content %} {% load static %}
<main>
  <section class="faq">
    <div class="faq-item">
      <h3 class="faq-question">¿Con cuanta anticipacion debo realizar mi pedido?</h3>
      <p class="faq-answer hidden">
        En caso de ser una cajita personalizada para regalo o cajita surtida con variedad de postres
        minimo 48hs antes.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Y si es una torta?</h3>
      <p class="faq-answer hidden">
        Si se trata de una torta personalizada tomamos pedidos hasta con 2 semanas de anticipación.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Se debe señar el pedido?</h3>
      <p class="faq-answer hidden">
        Tanto las Cajitas personalizadas, Surtidas o Tortas deben ser señadas con el 50% del
        producto.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Que pasa si cancelas tu pedido?</h3>
      <p class="faq-answer hidden">
        El 50% solo se devolvera en las primeras 24hs de encargado el pedido, pasado ese tiempo no
        se realizara la devolución del mismo.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Horarios de entrega?</h3>
      <p class="faq-answer hidden">
        Coordinamos el horario de entrega a conveniencia del cliente, en caso de realizar algún
        cambio en el mismo se informa previamente.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Como retiro mi pedido?</h3>
      <p class="faq-answer hidden">
        Contamos con un punto de retiro; pedir dirección exacta por el medio que te estes
        comunicando con nosotros y dejar acentado el horario en el que se desea retirar.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Si necesito envio?</h3>
      <p class="faq-answer hidden">
        Contamos con Delivery con cargo para cualquiera de nuestros productos, su valor varia según
        la distancia.
      </p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">¿Como abono un pedido?</h3>
      <p class="faq-answer hidden">
        Se puede abonar en efectivo al momento de la entrega o en caso de ser un regalo; por
        transferencia. El comprobante de la misma deberá ser enviado por el medio que te hayas
        comunicado (WhatsApp, Instagram, Facebook).
      </p>
    </div>
    <script src="{% static 'Libs/js/modules/informacion.js' %}" type="module"></script>
  </section>
</main>
{% endblock %}
