{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'Libs/css/simulador.css' %}" />

<section class="simulador">
  <div class="calculos" id="calculosPedidos">
    <fieldset id="contenedorSimulador" class="p-4 rounded border">
      <div id="cartelEnvio">El envío se cobra según la zona</div>
      <form class="pedido row g-3" id="pedido-form">
        <div class="col-12 elemento">
          <label for="alfajores" class="form-label">Alfajores</label>
          <input type="number" id="alfajores" class="form-control" min="0" />
        </div>

        <div class="col-12 elemento">
          <label for="budinLimon" class="form-label">Budin Limon</label>
          <input type="number" id="budinLimon" class="form-control" min="0" />
        </div>

        <div class="col-12 elemento">
          <label for="budinNaranja" class="form-label">Budin Naranja</label>
          <input type="number" id="budinNaranja" class="form-control" min="0" />
        </div>

        <div class="col-12 elemento">
          <label for="alfacookies" class="form-label">Alfacookies</label>
          <input type="number" id="alfacookies" class="form-control" min="0" />
        </div>

        <div class="col-12 elemento">
          <label for="galletas" class="form-label">Galletas</label>
          <input type="number" id="galletas" class="form-control" min="0" />
        </div>
      </form>
    </fieldset>

    <div class="botones text-center mt-4">
      <button class="btn btn-success simular-btn" id="simularBtn" type="button">Simular</button>
      <button class="btn btn-danger borrar-btn" id="borrarBtn" type="button">Borrar</button>
    </div>
  </div>

  <div class="contenidoVentana" id="contenidoVentana">
    <h2 class="text-center">Tabla Pedido</h2>
    <table id="tablaSimulador" class="table table-bordered">
      <thead>
        <tr>
          <th>Datos Ingresados</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody class="resultados" id="resultadosPedidos"></tbody>
      <tfoot>
        <tr>
          <td colspan="3">Pago Total:</td>
          <td id="monto"></td>
        </tr>
      </tfoot>
    </table>
    <div class="text-center">
      <button class="btn btn-warning" id="volverBtn" type="button">Volver</button>
    </div>
  </div>
  <script src="{% static 'Libs/js/buttons/simular.js' %}" type="module"></script>
  <script src="{% static 'Libs/js/buttons/borrar.js' %}" type="module"></script>
  <script src="{% static 'Libs/js/buttons/volver.js' %}" type="module"></script>
  <script src="{% static 'Libs/js/modules/calculos.js' %}" type="module"></script>
  <script src="{% static 'Libs/js/modules/constantes.js' %}" type="module"></script>
</section>
{% endblock %}
